/*
   New Perspectives on JavaScript, 2nd Edition
   Tutorial 6
   Case Problem 1
   Filename: bw.css

   This file contains styles used in the bookforum.htm file.

*/

*                 {padding: 0px; margin: 0px}

body              {font-size: 12px; font-family: 'Trebuchet MS', Arial, Verdana, sans-serif;
                   background: white url(leftbar.jpg) repeat-y} 
a                 {display: block; text-decoration: none}
ul                {list-style-type: none}
label             {display: block}
fieldset          {border-width: 0px}
 
#page             {position: absolute; top: 0px; left: 0px; width: 750px}

#heading          {width: 100%; text-align: left; border-bottom: 1px solid rgb(102, 51, 0);
                   margin: 0px; padding: 0px; background-color: white}

#menu             {width: 100%; margin: 0px; padding: 0px}
#menu li          {width: 14%; text-align: center; height: 20px; float: left}
#menu li a        {color: rgb(102, 51, 0); background-color: white;
                   border: 1px solid rgb(102, 51, 0)}
#menu li a:hover  {color: rgb(255, 255, 153); background-color: rgb(102, 51, 0)}

#menu2            {clear: left; float: left; width: 200px; padding-top: 10px;
                   margin: 0px 30px 0px 20px}
#menu2 li         {width: 95%; text-align: left; margin-bottom: 3px}
#menu2 li a       {width: 100%; color: black}
#menu2 li a:hover {text-decoration: underline; color: rgb(255, 255, 153)}
#menu2 .newgroup  {margin-top: 20px}

#forum            {float: left; width: 450px}
#forum a          {display: inline; text-decoration: underline; 
                   color: rgb(116, 95, 88)}
#forum h2         {font-size: 20px; color: rgb(102, 51, 0); margin-top: 10px;
                   font-weight: normal; letter-spacing: 5px}
#forum h3         {font-size: 16px; font-weight: normal}
#forum h4         {font-size: 12px; font-weight: normal; margin: 10px 0px}
#forum p          {margin: 10px 0px 10px 20px}

#commentField     {padding-bottom: 20px}
#commentLabel     {font-size: 12px}
#comment          {width: 450px; height: 150px; padding: 5px; text-align: left;
                   border: 1px solid rgb(102, 51, 0)}
#wordcountLabel   {width: 450px; text-align: right}
#wordcount        {width: 50px; text-align: right; padding: 0px 3px 0px 0px;
                   margin-left: 5px; border-width: 0px}
#subbutton        {width: 150px; border: 2px outset rgb(102, 51, 0);
                   display: block; margin-top: 10px; float: right}