/*
   New Perspectives on JavaScript, 2nd Edition
   Tutorial 7
   Tutorial Case
   Filename: largetext.css

   This file contains styles used in the usconst.htm file to displaying
   only the contents of historic document suitable for large text displays

*/

h1, h2, h3, h4, h5, h6 {font-family: Arial, Helvetica, sans-serif}

#logo                  {display: none}

#logosub               {display:none}

#toc                   {display:none}
#toc ol                {display: none}
#toc ol li             {display: none}


#doctitle h1           {font-size: 36px}

#doc h1                {font-size: 30px}
#doc h2                {font-size: 24px}
#doc h3                {font-size: 22px; margin-bottom: 0px; margin-left: 30px}

#doc p                 {font-size: 18px; margin-left: 30px; text-align: justify;
                        margin-right: 30px}
#doc h3+p              {margin-top: 0px}

#firstp:first-line     {font-variant: small-caps}
#firstp:first-letter   {float: left; font-size: 500%; line-height: 0.8; 
                        margin-right: 12px}
